body{
    text-align: center;
}
.header{
    width: 95%;
    height: 220px;
    background-color: #fff794;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;

}
.menu{
    display: inline-block;
    width: 28%;
    height: 500px;
    background-color: #94ff97;
    margin-right: 2%;
}
.content{
    margin-left: -4px;
    display: inline-block;
    width: 65%;
    height: 500px;
    background-color: rgb(114, 188, 211);
    
}
@media (min-width: 320px) and (max-width: 600px){
    .content,.menu{
        width: 95%;
        margin-bottom: 2%;
    }
    .menu{
        margin-left: 2%;
    }
   
}